services:
  wiredalter-term:
    build: .
    # use this pre-build image from this repo or build your own
    # image: ghcr.io/buildplan/wiredalter-term:latest 
    container_name: wairedalter-term
    hostname: wiredterm  # you can change this whatever you want to see in terminal
    ports:
      - "127.0.0.1:3939:3939"
    volumes:
      - ./data:/data
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      - NODE_ENV=production
      - PIN=324252             # <--- Change this
      - SESSION_SECRET=sup3r_s3cr3t_k3y_chang3_m3 # <--- Change this

      # --- AUTH MODES ---
      # 1. PIN Only: Uncomment PIN, leave OIDC vars empty
      # 2. SSO Only: Comment out PIN, fill OIDC vars
      # 3. Hybrid:   Uncomment PIN, fill OIDC vars

      - PIN=123456

      # --- OIDC / SSO CONFIG ---
      # - PUBLIC_URL=https://term.yourdomain.com
      # - OIDC_ISSUER=https://auth.yourdomain.com/application/o/wiredterm/
      # - OIDC_CLIENT_ID=your_client_id
      # - OIDC_CLIENT_SECRET=your_client_secret

    restart: unless-stopped
